{% extends "base.html" %}

{% block title %}Активировать рассылку{% endblock title %}
{% block main %}
<div class="border mx-auto rounded-3 p-3 my-5" style="width: 30rem;">
    Вы уверены, что хотите отключить рассылку?
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid d-flex gap-2 justify-content-end mt-3">
        <a class="btn btn-primary" href="{% url 'mailshots:detail' object.pk %}">назад</a>
    <input type="submit" class="btn btn-danger" value="Деактивировать"/>
    </div>
</form>
</div>
{% endblock main %}