{% extends "base.html" %}
{% block main %}
<div style="max-width: 50rem;" class="mx-auto">
<h1 class="me-5" style="display: inline-block;">{% if perms.mailshots.view_mailshot_periodic_task %}Все{% else %}Ваши{% endif %} рассылки</h1>

<div class="btn-group">

  <button class="btn btn-secondary btn-sm" type="button">
    {% if current == 'created' %}
    Созданные
    {% elif current == 'enabled' %}
    Активные
    {% elif current == 'disabled' %}
    Отключённые
    {% elif current == 'finished' %}
    Завершённые
    {% endif %}
  </button>
  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="{% url 'mailshots:list' 'finished' %}">Завершённые</a>
    </li>
       <li>
      <a href="{% url 'mailshots:list' 'enabled' %}">Активные</a>
    </li>
       <li>
      <a href="{% url 'mailshots:list' 'disabled' %}">Отключённые</a>
    </li>
       <li>
      <a href="{% url 'mailshots:list' 'created' %}">Созданные</a>
    </li>
  </ul>
</div>
  </div>
{% for object in mailshots %}


<div class="card m-3 mx-auto" style="max-width: 50rem;">
  <a class="btn btn-outline-primary" href="{% if perms.view_mailshot_periodic_task %}
  {% url 'mailshots:manager_detail' object.pk %}
  {% else %}
  {% url 'mailshots:detail' object.pk %}
  {% endif %}"><div class="card-body">
    {{ object.defined_name }}
  </div>
  </a>
</div>
{% endfor %}

<div class="card m-3 p-0 mx-auto" style="max-width: 50rem;">
  <a class="btn btn-outline-primary fs-1 p-0" href="{% url 'mailshots:create' 'message' %}"><div class="card-body">
    +
  </div>
  </a>
</div>
{% endblock main %}
